.timeline-wrapper {
  display: flex;
}

.timeline-wrapper .line-wrapper {
  width: 100%;
  align-self: center;
  margin: 0 16px;
  display: flex;
  align-items: center;
}

.timeline-wrapper .line-start {
  background-color: var(--bs-blue);
  height: 9px;
  width: 9px;
  border-radius: 50%;
}

.timeline-wrapper .ending-wrapper {
  position: relative;
}

.timeline-wrapper .ending-wrapper.start .city,
.timeline-wrapper .ending-wrapper.start .date {
  left: 0;
}

.timeline-wrapper .ending-wrapper.end .city,
.timeline-wrapper .ending-wrapper.end .date {
  right: 0;
}

.timeline-wrapper .line {
  background-color: var(--bs-blue);
  height: 2px;
  width: 100%;
}

.timeline-wrapper .line > .line-text {
  color: gray;
  font-size: 10pt;
  margin-top: 7px;
  text-align: center;
}

.timeline-wrapper .line-end {
  border: solid var(--bs-blue);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
  margin-left: -10px;
  transform: rotate(-45deg);
}

.timeline-wrapper .time {
  font-size: 24pt;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.timeline-wrapper .date,
.timeline-wrapper .city {
  white-space: nowrap;
  position: absolute;
}

.timeline-wrapper .date {
  top: -5%;
}

.timeline-wrapper .city {
  bottom: -5%;
}

.flight-list-item .divisor {
  height: 100%;
  width: 10px;
  background-color: lightgray;
}

.flight-list-item .info {
  border-left: 1px solid lightgray;
  align-self: center;
}

.flight-card {
  background-color: white;
  padding: 1rem 2rem;
  transition: all 200ms ease;
  margin-top: 1rem;
  border: 1px solid lightgray;
  border-radius: 6px;
}

.flight-card:hover {
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .flight-list-item .info {
    border-left: none;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding-top: 0.5rem;
  }
}
